#
# Copyright 2024 Datastrato Pvt Ltd.
# This software is licensed under the Apache License version 2.
#

# THE CONFIGURATION FOR Gravitino ENTITY STORE
# The entity store to use, we only supports relational
gravitino.entity.store = relational
# The backend for the entity store, we only supports JDBC
gravitino.entity.store.relational = JDBCBackend

# The JDBC URL for the entity store
gravitino.entity.store.relational.jdbcUrl = jdbc:h2
# The JDBC driver class name
gravitino.entity.store.relational.jdbcDriver = org.h2.Driver
# The JDBC user name
gravitino.entity.store.relational.jdbcUser = gravitino
# The JDBC password
gravitino.entity.store.relational.jdbcPassword = gravitino

# THE CONFIGURATION FOR Gravitino CATALOG
# The interval in milliseconds to evict the catalog cache
# cannot set to 0 to disable cache, it will cause the classLoader be closed
# todo: using gravitino.catalog.cache.enable to disable cache
gravitino.catalog.cache.evictionIntervalMs = 3600000

# THE CONFIGURATION FOR Gravitino Entity Cache
# Whether to enable the cached Entity store.
gravitino.cache.enabled = false
# The cache implementation to use (e.g., caffeine).
gravitino.cache.implementation = caffeine

# THE CONFIGURATION FOR authorization
# Whether Gravitino enable authorization or not,
# the value should be the same as the value in gravitino.conf of target Gravitino server.
gravitino.authorization.enable = true
gravitino.authorization.serviceAdmins = anonymous

# Incremental dashboard metrics worker configuration.
# Only one running Gravitino Metrics Service instance is supported.
# Interval in milliseconds for polling metalakes pending a metrics refresh.
# gravitino.metrics.incremental.pollIntervalMs=1000
# Quiet period in milliseconds after the latest event before refreshing metrics.
# gravitino.metrics.incremental.debounceMs=1000
# Maximum time in milliseconds to coalesce an event burst.
# Must be greater than or equal to debounceMs.
# gravitino.metrics.incremental.maxDebounceMs=5000
# Initial retry delay in milliseconds after a refresh failure.
# gravitino.metrics.incremental.retryInitialMs=1000
# Maximum retry delay in milliseconds for exponential backoff.
# Must be greater than or equal to retryInitialMs.
# gravitino.metrics.incremental.retryMaxMs=60000
