#
# Copyright 2024 Datastrato Pvt Ltd.
# This software is licensed under the Apache License version 2.
#

# THE CONFIGURATION FOR Gravitino ENTITY STORE
# The entity store to use, we only supports relational
gravitino.entity.store = relational
# The backend for the entity store, we only supports JDBC
gravitino.entity.store.relational = JDBCBackend

# The JDBC URL for the entity store
gravitino.entity.store.relational.jdbcUrl = jdbc:h2
# The JDBC driver class name
gravitino.entity.store.relational.jdbcDriver = org.h2.Driver
# The JDBC user name
gravitino.entity.store.relational.jdbcUser = gravitino
# The JDBC password
gravitino.entity.store.relational.jdbcPassword = gravitino

# THE CONFIGURATION FOR Gravitino CATALOG
# The interval in milliseconds to evict the catalog cache
# cannot set to 0 to disable cache, it will cause the classLoader be closed
# todo: using gravitino.catalog.cache.enable to disable cache
gravitino.catalog.cache.evictionIntervalMs = 3600000

# THE CONFIGURATION FOR Gravitino Entity Cache
# Whether to enable the cached Entity store.
gravitino.cache.enabled = false
# The cache implementation to use (e.g., caffeine).
gravitino.cache.implementation = caffeine

# THE CONFIGURATION FOR authorization
# Whether Gravitino enable authorization or not,
# the value should be the same as the value in gravitino.conf of target Gravitino server.
gravitino.authorization.enable = true
gravitino.authorization.serviceAdmins = anonymous

# tag group for dashboard metrics collection
# note: The tags should be created by the user in advance.
# gravitino.datastrato.dashboardMetrics.piiTags=pii1,pii2
# gravitino.datastrato.dashboardMetrics.publicTags=public1,public2
# gravitino.datastrato.dashboardMetrics.confidentialTags=confidential1, confidential2
# gravitino.datastrato.dashboardMetrics.privateTags=private1,private2
